<!DOCTYPE html>
<html>
<head>
  <title>Newsfeed</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/newsfeed.css">
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/newsfeed.js"></script>
</head>
<body>
    <div id="newsfeed-background">
        <div class="modal-content">

          <input class="newsfeed-status-input" type="text" id="search-bar" placeholder="Search for a user by first name" onchange="search()">
          <p id="search-results"></p>
          <div class="newsfeed-title-bar"></div>
          <form action="/postStatusUpdate" class="newsfeed-status-update" method="POST">
            <input class="newsfeed-status-input" type="text" id="newsfeed-status-input" placeholder="What's on your mind?" name="statusUpdate">
            <input type="submit" value="SHARE" class="secondary-btn" id="newsfeed-status-btn">
          </form>
          <div class="newsfeed-title-bar"></div>

          <div id="newsfeed-container">
          <% for (var i=0; i < feed.length; i++) { %>
            <% if (feed[i].type === "friendPost") { %>
              <div class="newsfeed-card">
                <div class="newsfeed-prof-pic"></div>
                <div class="newsfeed-card-info">
                  <div class="newsfeed-user-name"> <span class="newsfeed-clickable"><a class="newsfeed-clickable" href=<%= "/user/" + feed[i].username %>><%= feed[i].username %></a></span> posted on <%= feed[i].receiver %>'s wall.</div>
                  <div class="newsfeed-status"><%= feed[i].content %></div>
                  <% for (var j = 0; j < feed[i].comments.length; j++) { %>
                    <div class="newsfeed-comment-card">
                      <div class="newsfeed-comment-text"><span class="newsfeed-clickable newsfeed-comment-user"><a class="newsfeed-clickable" href=<%= "/user/" + feed[i].comments[j].username %>><%= feed[i].comments[j].username %></a></span><%= feed[i].comments[j].content %></div>
                    </div>
                  <% } %>
                  <form action="/addComment" method="POST" class="newsfeed-add-comment">
                    <input type="text" placeholder="Add comment..." name="content" class="newsfeed-comment-input">
                    <input type="hidden" name="pID" value= <%= feed[i].pID %>/>
                    <button type="submit" class="newsfeed-comment">COMMENT</button>
                  </form>
                </div>
              </div>
            <% } else if (feed[i].type === "statusUpdate") { %>
              <div class="newsfeed-card">
                <div class="newsfeed-prof-pic"></div>
                <div class="newsfeed-card-info">
                  <div class="newsfeed-user-name"> <span class="newsfeed-clickable"><a class="newsfeed-clickable" href=<%= "/user/" + feed[i].username %>><%= feed[i].username %></a></span> updated their status.</div>
                  <div class="newsfeed-status"><%= feed[i].content %></div>
                  <% for (var j = 0; j < feed[i].comments.length; j++) { %>
                    <div class="newsfeed-comment-card">
                      <div class="newsfeed-comment-text"><span class="newsfeed-clickable newsfeed-comment-user"><a class="newsfeed-clickable" href=<%= "/user/" + feed[i].comments[j].username %>><%= feed[i].comments[j].username %></a></span><%= feed[i].comments[j].content %></div>
                    </div>
                  <% } %>
                  <form action="/addComment" method="POST" class="newsfeed-add-comment">
                    <input type="text" placeholder="Add comment..." name="content" class="newsfeed-comment-input">
                    <input type="hidden" name="pID" value= <%= feed[i].pID %>/>
                    <button type="submit" class="newsfeed-comment">COMMENT</button>
                  </form>
                </div>
              </div>
            <% } else if (feed[i].type === "profileUpdate") { %>
            <% } else if (feed[i].type === "newFriendship") { %>
              <div class="newsfeed-card">
                <div class="newsfeed-prof-pic">
                </div>
                <div class="newsfeed-card-info">
                  <div class="newsfeed-user-name"><%= feed[i].content %></div>
                  <div class="newsfeed-status">&#x2665;</div>
                  <% for (var j = 0; j < feed[i].comments.length; j++) { %>
                    <div class="newsfeed-comment-card">
                      <div class="newsfeed-comment-text"><span class="newsfeed-clickable newsfeed-comment-user"><a class="newsfeed-clickable" href=<%= "/user/" + feed[i].comments[j].username %>><%= feed[i].comments[j].username %></a></span><%= feed[i].comments[j].content %></div>
                    </div>
                  <% } %>
                  <form action="/addComment" method="POST" class="newsfeed-add-comment">
                    <input type="text" placeholder="Add comment..." name="content" class="newsfeed-comment-input">
                    <input type="hidden" name="pID" value= <%= feed[i].pID %>/>
                    <button type="submit" class="newsfeed-comment">COMMENT</button>
                  </form>
                </div>
              </div>
            <% } %>
          <% } %>
          </div>
          <div class="newsfeed-card">
            <div class="newsfeed-prof-pic">
            </div>
            <div class="newsfeed-card-info">
              <div class="newsfeed-user-name"> <span class="newsfeed-clickable">Tiffany Yue</span> updated her status.</div>
              <div class="newsfeed-status">Yesterday my friend kissed a boy. And she liked it! So much in fact, that she'll probably kiss the boy again.</div>
              <button type="button" class="newsfeed-like">LIKE</button>
              <div class="newsfeed-likes">25 likes</div>
            </div>
          </div>

          <div class="newsfeed-card">
            <div class="newsfeed-prof-pic">
            </div>
            <div class="newsfeed-card-info">
              <div class="newsfeed-user-name"> <span class="newsfeed-clickable">Tiffany Yue</span> updated her status.</div>
              <div class="newsfeed-status">Yesterday my friend kissed a boy. And she liked it! So much in fact, that she'll probably kiss the boy again.</div>
              <div class="newsfeed-comment-card">
                <div class="newsfeed-comment-text"><span class="newsfeed-clickable newsfeed-comment-user">curlgurl</span>Wow!! Who was it?</div>
              </div>
              <form action="/addComment" method="POST" class="newsfeed-add-comment">
                <input type="text" placeholder="Add comment..." name="content" class="newsfeed-comment-input">
                <button type="button" class="newsfeed-comment">COMMENT</button>
              </form>
            </div>
          </div>

          <div class="newsfeed-card">
            <div class="newsfeed-prof-pic">
            </div>
            <div class="newsfeed-card-info">
              <div class="newsfeed-user-name"> <span class="newsfeed-clickable">Antonio Menarde</span> is now friends with Patrick Taggart.</div>
            </div>
          </div>

          <div class="newsfeed-card">
            <div class="newsfeed-prof-pic">
            </div>
            <div class="newsfeed-card-info">
              <div class="newsfeed-user-name"> <span class="newsfeed-clickable">Tiffany Yue</span> updated her affiliation to Bell Senior Society.</div>
            </div>
          </div>
        </div>
        <div class="newsfeed-friend-requests">
          <p>FRIEND REQUESTS</p>
          <div class="newsfeed-friend-bar"></div>
          <% if (friendRequests.length === 0) { %>
            <p class="no-requests">No requests.</p>
          <% } %>
          <% for (var i = 0; i < friendRequests.length; i++) { %>
            <form class="newsfeed-friend-request" method="POST" action="/acceptFriendRequest">
              <input type="hidden" name="friender" value= <%= friendRequests[i] %>/>
              <p><%= friendRequests[i] %></p>
              <input type="submit" value="ACCEPT" class="secondary-btn friend-accept-btn">
            </form>
          <% } %>
          <p>PEOPLE YOU MAY KNOW</p>
          <div class="newsfeed-friend-bar"></div>
          <% if (friendRequests.length === 0) { %>
            <p>No one right now.</p>
          <% } %>
          <% for (var i = 0; i < friendRequests.length; i++) { %>
            <form class="newsfeed-friend-request" method="POST" action="/acceptFriendRequest">
              <input type="hidden" name="friender" value= <%= friendRequests[i] %>/>
              <p><%= friendRequests[i] %></p>
              <input type="submit" value="+ ADD FRIEND" class="secondary-btn friend-accept-btn">
            </form>
          <% } %>
        </div>
    </div>
    <div class="navigation">
          <div class="nav-icon"></div>
          <div class="nav-menu">
            <a class="nav-selection" href=<%="/user/" + user%>>My Profile</a><br>
            <a class="nav-selection" href="/newsfeed">Newsfeed</a><br>
            <a class="nav-selection" href="/chat">Chatroom</a><br>
            <a class="nav-selection" href="/visualizer">Visualizer</a><br>
          </div>
        </div>
  </body>
  <script>
    var mostRecent = null;

    $(document).ready(function() {
      setTimeout(refresh, 2000);
      console.log(new Date());
      mostRecent = new Date().toISOString();
    });

    var refresh = function() {
      setTimeout(refresh, 2000);
      updateFeed();
    }

    var updateFeed = function() {
      $.post('/getFeedSince', { timestamp: mostRecent }, function(data) {
        console.log('updated');
        console.log(data.feed);
        var newPosts = '';
        for (var i = 0; i < data.feed.length; i++) {
          if (data.feed[i].type === 'statusUpdate') {
            newPosts += addStatusUpdate(data.feed[i].username, data.feed[i].content, data.feed[i].comments, data.feed[i].pID);
          } else if (data.feed[i].type === 'newFriendship') {
            newPosts += addNewFriendship(data.feed[i].content, data.feed[i].comments, data.feed[i].pID);
          } else if (data.feed[i].type === 'friendPost') {
            newPosts += addFriendPost(data.feed[i].username, data.feed[i].content, data.feed[i].receiver, data.feed[i].comments, data.feed[i].pID);
          } else if (data.feed[i].type === 'profileUpdate') {
            newPosts += addProfileUpdate(data.feed[i].username, data.feed[i].content);
          }

          $( "#newsfeed-container" ).prepend(newPosts);
        }
        mostRecent = new Date().toISOString();
      });
    }

    $(function(){ // this will be called when the DOM is ready
      $('#search-bar').keyup(function() {
        var prefix = document.getElementById("search-bar").value;
        document.getElementById("search-results").innerHTML = "";

        if (prefix.length === 0) {
          return;
        }

        $.post( "/search", {"prefix": prefix}, function(result) {
              if(result.error) {
                  alert(result.error);
              } else {
                  if (result.length != 0) {
                    result.forEach(element => {
                      console.log("a result: " + element.username);
                      var myhref = '/user/' + element.username;
                      div = document.createElement('div');
                      $(div).html("<p><a href=" + myhref + ">" + element.name + "</a></p>")
                        .appendTo($("#search-results")) //main div
                    });
                  }
              }
          });
      });
    });

    var addFriendPost = function(username, content, receiver, comments, pID) {
      var comments = "";
      for (var i = 0; i < comments.length; i++) {
        comments += '<div class="newsfeed-comment-card">' + '<div class="newsfeed-comment-text"><span class="newsfeed-clickable newsfeed-comment-user"><a class="newsfeed-clickable" href="/user/' + comments[i].username + '">' + comments[i].username + '</a></span>' + comments[i].content + '</div></div>'
      }

      comments += '<form action="/addComment" method="POST" class="newsfeed-add-comment">' +
        '<input type="text" placeholder="Add comment..." name="content" class="newsfeed-comment-input"><input type="hidden" name="pID" value=' + pID + '/><button type="submit" class="newsfeed-comment">COMMENT</button></form>'

      var post =
        '<div class="newsfeed-card">' +
          '<div class="newsfeed-prof-pic"></div>' +
            '<div class="newsfeed-card-info">' +
              '<div class="newsfeed-user-name"> <span class="newsfeed-clickable"><a class="newsfeed-clickable" href="/user/' + username + '">' + username + "</a></span> posted on " + receiver + "'s wall.</div>" +
                '<div class="newsfeed-status">' +
                content + '</div>' + comments +
              '</div>' +
            '</div>'
      return post;
    }

    var addStatusUpdate = function(username, content, comments, pID) {
      var comments = "";
      for (var i = 0; i < comments.length; i++) {
        comments += '<div class="newsfeed-comment-card">' + '<div class="newsfeed-comment-text"><span class="newsfeed-clickable newsfeed-comment-user"><a class="newsfeed-clickable" href="/user/' + comments[i].username + '">' + comments[i].username + '</a></span>' + comments[i].content + '</div></div>'
      }

      comments += '<form action="/addComment" method="POST" class="newsfeed-add-comment">' +
        '<input type="text" placeholder="Add comment..." name="content" class="newsfeed-comment-input"><input type="hidden" name="pID" value=' + pID + '/><button type="submit" class="newsfeed-comment">COMMENT</button></form>'

      var post =
        '<div class="newsfeed-card">' +
          '<div class="newsfeed-prof-pic"></div>' +
          '<div class="newsfeed-card-info">' +
            '<div class="newsfeed-user-name"> <span class="newsfeed-clickable"><a class="newsfeed-clickable" href=/user/' + username + '>' + username + "</a></span> updated their status.</div>" +
              '<div class="newsfeed-status">' +
              content + '</div>' + comments +
            '</div>' +
          '</div>'
      return post;
    }

    var addProfileUpdate = function() {

    }

    var addNewFriendship = function(content, comments, pID) {
      var comments = "";
      for (var i = 0; i < comments.length; i++) {
        comments += '<div class="newsfeed-comment-card">' + '<div class="newsfeed-comment-text"><span class="newsfeed-clickable newsfeed-comment-user"><a class="newsfeed-clickable" href="/user/' + comments[i].username + '">' + comments[i].username + '</a></span>' + comments[i].content + '</div></div>'
      }

      comments += '<form action="/addComment" method="POST" class="newsfeed-add-comment">' +
        '<input type="text" placeholder="Add comment..." name="content" class="newsfeed-comment-input"><input type="hidden" name="pID" value=' + pID + '/><button type="submit" class="newsfeed-comment">COMMENT</button></form>'

      var post =
        '<div class="newsfeed-card">' +
          '<div class="newsfeed-prof-pic"></div>' +
          '<div class="newsfeed-card-info">' +
              '<div class="newsfeed-user-name">' +
                content +
              '</div>' +
            '<div class="newsfeed-status">&#x2665;</div>' + comments +
          '</div>' +
        '</div>';
      return post;
    }
  </script>
</html>
