<!DOCTYPE html>
<html>
<head>
  <title>Newsfeed</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/newsfeed.css">
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/newsfeed.js"></script>
</head>
<body>
    <div id="newsfeed-background">
        <div class="modal-content">
          <p class="newsfeed-title">NEWSFEED</p>
          <div class="newsfeed-title-bar">
          </div>
          <form action="/postStatusUpdate" class="newsfeed-status-update" method="POST">
            <input class="newsfeed-status-input" type="text" id="newsfeed-status-input" placeholder="What's on your mind?" name="statusUpdate">
            <input type="submit" value="SHARE" class="secondary-btn" id="newsfeed-status-btn">
          </form>


          <% for (var i=0; i < feed.length; i++) { %>
            <% if (feed[i].type === "friendPost") { %>
              <div class="newsfeed-card">
                <div class="newsfeed-prof-pic">
                </div>
                <div class="newsfeed-card-info">
                  <div class="newsfeed-user-name"> <span class="newsfeed-clickable"><a class="newsfeed-clickable" href=<%= "/user/" + feed[i].username %>><%= feed[i].username %></a></span> posted on <%= feed[i].receiver %>'s wall.</div>
                  <div class="newsfeed-status"><%= feed[i].content %></div>
                  <button type="button" class="newsfeed-comment">COMMENT</button>
                </div>
              </div>
            <% } else if (feed[i].type === "statusUpdate") { %>
              <div class="newsfeed-card">
                <div class="newsfeed-prof-pic">
                </div>
                <div class="newsfeed-card-info">
                  <div class="newsfeed-user-name"> <span class="newsfeed-clickable"><a class="newsfeed-clickable" href=<%= "/user/" + feed[i].username %>><%= feed[i].username %></a></span> updated their status.</div>
                  <div class="newsfeed-status"><%= feed[i].content %></div>
                  <button type="button" class="newsfeed-comment">COMMENT</button>
                </div>
              </div>
            <% } else if (feed[i].type === "profileUpdate") { %>
            <% } else if (feed[i].type === "newFriendship") { %>
              <div class="newsfeed-card">
                <div class="newsfeed-prof-pic">
                </div>
                <div class="newsfeed-card-info">
                  <div class="newsfeed-user-name"><%= feed[i].content %></div>
                  <div class="newsfeed-status">&#x2665;</div>
                  <button type="button" class="newsfeed-comment">COMMENT</button>
                </div>
              </div>
            <% } %>
          <% } %>
          <div class="newsfeed-card">
            <div class="newsfeed-prof-pic">
            </div>
            <div class="newsfeed-card-info">
              <div class="newsfeed-user-name"> <span class="newsfeed-clickable">Tiffany Yue</span> updated her status.</div>
              <div class="newsfeed-status">Yesterday my friend kissed a boy. And she liked it! So much in fact, that she'll probably kiss the boy again.</div>
              <button type="button" class="newsfeed-like">LIKE</button>
              <div class="newsfeed-likes">25 likes</div>
            </div>
          </div>

          <div class="newsfeed-card">
            <div class="newsfeed-prof-pic">
            </div>
            <div class="newsfeed-card-info">
              <div class="newsfeed-user-name"> <span class="newsfeed-clickable">Antonio Menarde</span> is now friends with Patrick Taggart.</div>
            </div>
          </div>

          <div class="newsfeed-card">
            <div class="newsfeed-prof-pic">
            </div>
            <div class="newsfeed-card-info">
              <div class="newsfeed-user-name"> <span class="newsfeed-clickable">Tiffany Yue</span> updated her affiliation to Bell Senior Society.</div>
            </div>
          </div>
        </div>
        <div class="newsfeed-friend-requests">
          <p>FRIEND REQUESTS</p>
          <div class="newsfeed-friend-bar"></div>
          <% if (friendRequests.length === 0) { %>
            <p>No requests.</p>
          <% } %>
          <% for (var i = 0; i < friendRequests.length; i++) { %>
            <form class="newsfeed-friend-request" method="POST" action="/acceptFriendRequest">
              <input type="hidden" name="friender" value= <%= friendRequests[i] %>/>
              <p><%= friendRequests[i] %></p>
              <input type="submit" value="ACCEPT" class="secondary-btn friend-accept-btn">
            </form>
          <% } %>
        </div>
    </div>
    <div class="navigation">
          <div class="nav-icon"></div>
          <div class="nav-menu">
            <a class="nav-selection" href=<%="/user/" + user%>>My Profile</a><br>
            <a class="nav-selection" href="/newsfeed">Newsfeed</a><br>
            <a class="nav-selection" href="/chat">Chatroom</a><br>
            <a class="nav-selection" href="/visualizer">Visualizer</a><br>
          </div>
        </div>
  </body>
  <script>
    var refresh = function() {
      setTimeout(refresh, 10000);
      updateFeed();
    }

    $(document).ready(function() {
      setTimeout(refresh, 10000);
      loadFeed();
    });

    //for each user post that we get back (assuming initially finite blob of data on initial route call, we render based on the type it is)
    var loadFeed = function() {
      let newsfeed = document.getElementById("newsfeed");
      let offset = 0;
      getNewsfeed(newsfeed, offset);
      // $.get('/getFeedFor', function(data) {
      //   console.log("data is: " + data);
      // });
    }

    var updateFeed = function() {
      $.get('/getFeedSince', function(data) {

      });
    }

    window.onLoad = loadFeed();
  </script>
</html>
