<!DOCTYPE html>
<html>
<head>
  <title><%= userData.firstName + ' ' + userData.lastName %></title>
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <link rel="stylesheet" type="text/css" href="../css/wall.css">
  <script src="../js/jquery-3.3.1.min.js"></script>
  <meta charset=utf-8>
</head>
<body>
    <div id="wall-background" class="parallax">
        <div class="modal-content">
          <div class="profile-picture"></div>
          <% if (userData != null) { %>
            <p class="profile-title"><%= userData.firstName + ' ' + userData.lastName %></p>
          <% } %>
          <div class="profile-title-bar"></div>
          <% if (status === "confirmed" || userData.username === user) { %>
            <% if (userData.username === user) { %>
              <form class="wall-status-update" method="POST" action="/postStatusUpdate">
                <input class="wall-status-input" type="text" id="wall-status-input" name="statusUpdate" placeholder="What's on your mind?">
                <input type="submit" value="SHARE" class="secondary-btn" id="wall-status-btn">
            </form>
            <% } else { %>
              <form class="wall-status-update" method="POST" action="/newFriendPost">
                <input class="wall-status-input" type="text" id="wall-status-input" name="content" placeholder="Finally tell them you love them..." name="statusUpdate">
                <input type="submit" value="SHARE" class="secondary-btn" id="wall-status-btn">
                <input type="hidden" name="receiver" value= <%= userData.username %>/>
              </form>
            <% } %>
            <div class="profile-title-bar"></div>
            <% for (var i=0; i < wallContent.length; i++) { %>
              <% if (wallContent[i].type === "friendPost") { %>
                <div class="wall-card">
                  <% if (userData.username === user) { %>
                    <div class="wall-user-name"> <span class="wall-clickable"><a class="wall-clickable" href=<%= "/user/" + wallContent[i].username %>><%= wallContent[i].username %></a></span> posted on your wall.</div>
                  <% } else { %>
                    <div class="wall-user-name"> <span class="wall-clickable"><a class="wall-clickable" href=<%= "/user/" + wallContent[i].username %>><%= wallContent[i].username %></a></span> posted on <%= userData.firstName %>'s wall.</div>
                  <% } %>
                  <div class="wall-card-info">
                    <div class="wall-status"><%= wallContent[i].content %></div>
                  </div>
                </div>
              <% } else if (wallContent[i].type === "statusUpdate") { %>
              <div class="wall-card">
                <% if (userData.username === user) { %>
                  <div class="wall-user-name">You updated your status.</div>
                  <div class="wall-card-info">
                  <div class="wall-status"><%= wallContent[i].content %></div>
                  </div>
                <% } else { %>
                  <div class="wall-user-name"><%= userData.firstName %> updated their status.</div>
                  <div class="wall-card-info">
                  <div class="wall-status"><%= wallContent[i].content %></div>
                  </div>
                <% } %>
              </div>
              <% } else if (wallContent[i].type === "profileUpdate") { %>
              <% } else if (wallContent[i].type === "newFriendship") { %>
                <div class="wall-user-name"><%= wallContent[i].content %></div>
                  <div class="wall-card-info">
                  <div class="wall-status friendship-status">&#x2665;</div>
                </div>
              <% } %>
            <% } %>
            <div class="wall-card">
              <div class="wall-user-name"> <span class="wall-clickable">Tiffany Yue</span> updated her affiliation to Bell Senior Society.</div>
              <div class="wall-card-info"></div>
            </div>
          <% } else if (status === "pending") { %>
              <div class="wall-friend-status">You've sent a friend request. Sit back and wait!</div>
          <% } else { %>
              <div class="wall-friend-status">You're not friends with <%= userData.firstName %> yet. Send them a friend request!</div>
              <form method="post" action="/issueFriendRequest">
                <input type="submit" value="+ Add Friend" class="secondary-btn" id="add-friend-btn">
                <input type="hidden" name="friender" value= <%=  userData.username %>/>
              </form>
          <% } %>
        </div>
        <div class="parallax__layer--back account-info">
          <form class="wall-edit-update" method="POST" action="/updateInfo">
            <p class="account-info-title">First Name</p>
            <input name="firstName" type="text" placeholder= <%= userData.firstName %> id="firstname-input" class="account-info-content" disabled>
            <p class="account-info-title">Last Name</p>
            <input name="lastName" type="text" placeholder= <%= userData.lastName %> id="lastname-input" class="account-info-content" disabled>
            <p class="account-info-title">Birthday</p>
            <input name="birthday" type="text" placeholder= <%= userData.birthday %> id="birthday-input" class="account-info-content" disabled>
            <p class="account-info-title">Affiliation</p>
            <input name="affiliation" type="text" placeholder= <%= userData.affiliation %> id="affiliation-input" class="account-info-content" disabled>
            <p class="account-info-title">Interests</p>
            <input type="text" placeholder= <%= userData.interests %> id="interests-input" class="account-info-content" disabled>
            <% if (userData.username === user) { %>
                <input type="button" value="edit" class="secondary-btn" id="wall-edit-info-btn">
                <input type="submit" value="save" class="secondary-btn wall-hidden" id="wall-save-info-btn">
            <% } %>
          </form>
        </div>
    </div>
    <div class="navigation">
          <div class="nav-icon"></div>
          <div class="nav-menu">
            <a class="nav-selection" href=<%="/user/" + user%>>My Profile</a><br>
            <a class="nav-selection" href="/newsfeed">Newsfeed</a><br>
            <a class="nav-selection" href="/chat">Chatroom</a><br>
            <a class="nav-selection" href="/visualizer">Visualizer</a><br>
          </div>
        </div>
  </body>
  <script>
    $('#wall-edit-info-btn').click(function() {
      console.log("clicked");
      $('#wall-edit-info-btn').attr("disabled", "disabled");
      $('#wall-edit-info-btn').addClass("btn-disabled");
      $('#wall-save-info-btn').removeClass('wall-hidden');
      $('#wall-save-info-btn').addClass('wall-shown');

      $('#birthday-input').addClass('account-info-content-active');
      $('#birthday-input').prop("disabled", false);
      $('#firstname-input').addClass('account-info-content-active');
      $('#firstname-input').prop("disabled", false);
      $('#lastname-input').addClass('account-info-content-active');
      $('#lastname-input').prop("disabled", false);
      $('#affiliation-input').addClass('account-info-content-active');
      $('#affiliation-input').prop("disabled", false);
      $('#interests-input').addClass('account-info-content-active');
      $('#interests-input').prop("disabled", false);
    })


  </script>
</html>
